(
    description: "Combustion does not occur when temperature is below minimum",
    materials: {
        "Wood": 5,
        "Iron": 4,
        "Ash": 11,
    },
    rule: (
        name: "Combustion",
        input_a: "Wood",
        input_b: Some("Iron"),
        min_temperature: 573.0,
        max_temperature: 2000.0,
        output_a: "Ash",
        output_b: None,
        heat_output: 500.0,
    ),
    material_a: 5,
    material_b: 4,
    temperature: 200.0,
    expect_reacts: false,
    expect_output_a: None,
)
